
<!DOCTYPE html>
<html lang="en">

<head>
  <title>樂天 的 Python Apps</title>
  <meta charset="utf-8">                
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="LeTian Chang">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/site.webmanifest">
  <link rel="stylesheet" href="../static/css/letian-ocean.css">
</head>

<body>
  <header class="w3-container w3-black w3-center le-bg-cover" id="myHeader">
      <h1 class="w3-margin w3-jumbo">
        <strong>
        <span style="color:#BADA55;">Le</span><span style="color:#0CC8ED;">Tian</span>
        <span style="color:#FFFFFF;">Ocean</span>
        </strong>
      </h1>
      <p class="w3-xlarge">我的網頁連結</p>
      <br/>
      <button class="w3-btn w3-round w3-border w3-indigo w3-hover-opacity w3-text-white w3-padding-medium w3-large w3-margin-top" 
        onclick="location.href='https://lloydztw.github.io/mysite/myVideoPages/myResNet34.html';">
        ML 訓練
      </button>
      <span> </span>      
      <button class="w3-btn w3-round w3-border w3-indigo w3-hover-opacity w3-text-white w3-padding-medium w3-large w3-margin-top" 
        onclick="location.href='https://lloydztw.github.io/mysite/w3/templates/index_ezCnt.html';">
        ML 範例
      </button>      
      <button class="w3-btn w3-round w3-border w3-indigo w3-hover-opacity w3-text-white w3-padding-medium w3-large w3-margin-top" 
        onclick="location.href='https://github.com/lloydztw/EzOcrServer#ezocrserver';">
        OCR 安裝
      </button>      
      <button class="w3-btn w3-round w3-border w3-indigo w3-hover-opacity w3-text-white w3-padding-medium w3-large w3-margin-top" 
        onclick="location.href='https://lloydztw.github.io/mysite/myOpenCV/templates/index_cv.html';">
        OpenCV
      </button>      
      <button class="w3-btn w3-round w3-border w3-indigo w3-hover-opacity w3-text-white w3-padding-medium w3-large w3-margin-top" 
        onclick="location.href='https://lloydztw.github.io/mysite/myVideoPages/index.html';">
        其他空間
      </button>      
      <button class="w3-btn w3-round w3-border w3-orange w3-text-white w3-padding-medium w3-large w3-margin-top" 
        onclick="location.href='#mySection1';">
        Go Next
      </button>
  </header>

  <div class="w3-container le-bg-cover" id="mySection1">
      <div class="w3-container" style="padding:10vh 15vh"> 
        <div class="w3-container w3-cell w3-cell-middle">
          <a href="#mySection2">
          <img src="../static/img/workshop/car7.webp" style="height:50vh;" alt="To Section 2">
          </a>
        </div>       
        <div class="w3-container w3-cell w3-cell-middle">
          <h1>Convolutional Neural Network</h1>
          <h6 class="w3-padding-32">卷積神經網路（縮寫：CNN）是一種前饋神經網路，它的人工神經元可以回應一部分覆蓋範圍內的周圍單元，對於大型圖像處理有出色表現。卷積神經網路由一個或多個卷積層和頂端的全連通層（對應經典的神經網路）組成，同時也包括關聯權重和池化層（pooling layer）。這一結構使得卷積神經網路能夠利用輸入資料的二維結構。與其他深度學習結構相比，卷積神經網路在圖像和語音辨識方面能夠給出更好的結果。這一模型也可以使用反向傳播演算法進行訓練。相比較其他深度、前饋神經網路，卷積神經網路需要考量的參數更少，使之成為一種頗具吸引力的深度學習結構。卷積神經網路的靈感來自於動物視覺皮層組織的神經連接方式。單個神經元只對有限區域內的刺激作出反應，不同神經元的感知區域相互重疊從而覆蓋整個視野。</h6>
          <p class="w3-text-grey">In deep learning, a convolutional neural network (CNN) is a class of artificial neural network most commonly applied to analyze visual imagery. CNNs use a mathematical operation called convolution in place of general matrix multiplication in at least one of their layers. They are specifically designed to process pixel data and are used in image recognition and processing.</p>
        </div>
      </div>
      <div class="w3-container w3-center">
        <button class="w3-btn w3-round w3-border w3-orange w3-text-white w3-padding-medium w3-large w3-margin-top" 
          onclick="location.href='#mySection2';">
          Next
        </button>    
      </div>
    </div>
  </div>

  <div class="w3-container le-bg-cover" id="mySection2">
      <div class="w3-container" style="padding:10vh 15vh">       
        <div class="w3-container w3-cell w3-cell-middle">
          <h1>Reinforcement Learning</h1>
          <h6 class="w3-padding-32">強化學習（簡稱RL）是機器學習中的一個領域，強調如何基於環境而行動，以取得最大化的預期利益。其靈感來源於心理學中的行為主義理論，即有機體如何在環境給予的獎勵或懲罰的刺激下，逐步形成對刺激的預期，產生能獲得最大利益的習慣性行為。這個方法具有普適性，因此在其他許多領域都有研究，例如博弈論、控制論、運籌學、資訊理論、仿真優化、多智能體系統、群體智能、統計學以及遺傳算法。在運籌學和控制理論研究的語境下，強化學習被稱作「近似動態規劃」（approximate dynamic programming，ADP）。在最優控制理論中也有研究這個問題，雖然大部分的研究是關於最優解的存在和特性，並非是學習或者近似方面。在經濟學和博弈論中，強化學習被用來解釋在有限理性的條件下如何出現平衡。</h6>
          <p class="w3-text-grey">Reinforcement learning (RL) is an area of machine learning concerned with how intelligent agents ought to take actions in an environment in order to maximize the notion of cumulative reward.[1] Reinforcement learning is one of three basic machine learning paradigms, alongside supervised learning and unsupervised learning.</p>
        </div>
        <div class="w3-container w3-cell w3-cell-middle">
          <a href="#mySection4">
          <img src="../static/img/workshop/car5.webp" style="height:50vh;" alt="To Section 4">
          </a>
        </div>       
      </div>
      <div class="w3-container w3-center">
        <button class="w3-btn w3-round w3-border w3-orange w3-text-white w3-padding-medium w3-large w3-margin-top" 
          onclick="location.href='#mySection4';">
          Next
        </button>    
      </div>
    </div>
  </div>

  <div class="w3-container le-bg-cover" id="mySection3">
  </div>

  <div class="w3-container w3-center w3-padding-64 le-bg-cover" id="mySection4">
    <div class="w3-container">
    <img src="../static/img/workshop/car8.webp" alt="car8">
    
    </div>  
    <button class="w3-btn w3-round w3-border w3-orange w3-text-white w3-padding-medium w3-large w3-margin-top" 
      onclick="location.href='#myHeader';">
      Home
    </button>
    <button class="w3-btn w3-round w3-border w3-deep-orange w3-text-white w3-padding-medium w3-large w3-margin-top" 
      onclick="location.href='../../index.html';">
      GitHub
    </button>  
  </div>

  <footer class="w3-container w3-padding-16 w3-center w3-indigo">  
    <div class="w3-xlarge w3-padding-8">    
      <a href="https://www.facebook.com/letian.chang"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <a href="https://www.google.com/"><i class="fa fa-google w3-hover-opacity"></i></a>
      <a href="mailto:lloydz.tw@gmail.com"><i class="fa far fa-envelope w3-hover-opacity"></i></a>
      <a href="../../myVideoPages/index.html"><i class="fa far fa-film w3-hover-opacity"></i></a>
  </div>
  <p>Copyright &copy; 2021 Designed by  
      <a rel="nofollow noopener" href="https://www.facebook.com/letian.chang"> LeTian Chang</a>
  </p>
  </footer>

  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>
