<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Eazy Image Utils</title>
<meta name="author" content="LeTian Chang">
<meta name= "viewport" content= "width = device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
<link rel="manifest" href="../static/favicon/site.webmanifest">
<link rel="stylesheet" href="../static/css/ez_style.css">
</head>

<body>
  <!-- <div id="ez-main-panel"> -->

    <header id="header-0" class="w3-container w3-indigo">
      <h1>
        <strong>
        <span class="header-icons"><i class="fa fa-spinner w3-spin" style="font-size:42px; color:#ff33cc;"></i></span>
        <!-- <span class="header-icons"><i class="fa fa-spinner" style="font-size:42px; color:#ff33cc;"></i></span> -->
        <!-- <span class="header-icons"><i class="fa fa-apple" style="font-size:42px; color:#fff;"></i></span> -->
        <span class="header-title" style="color:#BADA55;">Eazy</span>
        <span class="header-title" style="color:#0CC8ED;">Image</span>
        <span class="header-title" style="color:#FFFFFF;">Utils</span>
        </strong>
      </h1>
    </header>

    <section id="section-1" class="w3-container w3-dimgray">
        <form id="srcFileForm-id" method="POST" enctype="multipart/form-data">
          <!-- <input type="file" name="file" id="srcFileInput-id" /> <br> -->
          <!-- <input type="submit" /> -->
          <div class="w3-row">
          <div class="w3-col s8">
            <input type="file" name="file" id="srcFileInput-id" />
            <input type="button" value="回復原圖" id="btnRetrieve-id" />
          </div>
          <div class="w3-col s4">
            <input type="button" value="本機測試" id="btnLocalTest-id" />
            <input type="submit" value="雲端處理" id="btnSubmit-id" />
          </div>
          </div>
        </form>     
    </section>

    <section id="section-2" class="w3-container">
      <div id="section-2-1">
        <img id="srcImage-id" src="../static/img/cat_amir.jpg" style="display: none;"> </img>
        <canvas id="outCanvas-id" style="display: none;"> </canvas>
        <img id="outImage-id" style="display: none;"></img>
      </div>
    </section>

    <section id="section-3" class="w3-container w3-dimgray">
    </section>

    <footer class="w3-container w3-indigo w3-bottom">
      <p id="status-id">[opencv] loading ...</p>
    </footer>

  <!-- </div> -->

  <script src="../static/js/opencv.js" type="text/javascript"></script>
  <script src="../static/js/ezImageUtils.js" type="text/javascript"></script>
  <script type="text/javascript">
    // 不要使用 async 載入 opencv.js
    updateStatus('opencv', 'is loaded (sync).');
    cv.onRuntimeInitialized = onCvReady;
        
    function onCvReady() {
      updateStatus('opencv','is ready.');
      initEzImageUtils(cv);
      // 延遲顯示,防止閃爍
      // document.getElementById('section-2').style.visibility="visible"; 
      initFirstLocalImage();
      showBusyIcon(false);
      updateStatus('EzImageUtils','is ready.');
    }
  </script>
  
</body>
</html>