<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Eazy Image Utils</title>
<meta name="author" content="LeTian Chang">
<meta name= "viewport" content= "width = device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
<link rel="manifest" href="../static/favicon/site.webmanifest">
<link rel="stylesheet" href="../static/css/ez_camera_style.css">
<!-- <link rel="stylesheet" href="../static/css/ez-webrtc-main.css"> -->
</head>

<body>
  <!-- <div id="ez-main-panel"> -->

    <header id="header-0" class="w3-container w3-indigo">
      <h1>
        <strong>
        <span class="header-icons"><i class="fa fa-spinner w3-spin" style="font-size:42px; color:#ff33cc;"></i></span>
        <!-- <span class="header-icons"><i class="fa fa-spinner" style="font-size:42px; color:#ff33cc;"></i></span> -->
        <!-- <span class="header-icons"><i class="fa fa-apple" style="font-size:42px; color:#fff;"></i></span> -->
        <span class="header-title" style="color:#BADA55;">Eazy</span>
        <span class="header-title" style="color:#0CC8ED;">Cam</span>
        <span class="header-title" style="color:#FFFFFF;">View</span>
        </strong>
      </h1>
    </header>

    <section id="section-1" class="w3-container w3-dimgray">
      <select id="availableCameras"></select>
      <br>
      <button id="btnLiveCamera">即時影像</button>
      <button id="btnLocalFilter">本機濾波</button>
      <button id="btnPostToCloud">深度運算</button>
    </section>

    <section id="section-2" class = "ez-dummy">
        <div class="ez-overlap-container">
          <video id="videoInput" class="ez-overlap" autoplay playsinline></video>
          <canvas id="canvasDisp"  class="ez-overlap" style="visibility: visible;"> </canvas>
          <div id="anchorBox-1" class="ez-overlap" style="visibility: hidden;"></div>
          <div id="anchorBox-2" class="ez-overlap" style="visibility: hidden;"></div>  
          <div id="bigWaitIcon" class="ez-dummy", style="visibility: hidden;">
            <span><i class="fa fa-spinner w3-spin" style="font-size:72px; color:#ff33cc;"></i></span>
          </div>
        </div>
    </section>

    <section id="section-3" class="w3-container w3-dimgray">
    </section>

    <footer class="w3-container w3-indigo w3-bottom">
      <p id="status-id">[opencv] loading ...</p>
      <!-- <div id="ez-log"></div> -->
    </footer>

  <!-- </div> -->

  <script src="../static/js/ez-utils.js" type="text/javascript"></script>
  <script src="../static/js/ez-camera.js" type="text/javascript"></script>
  <script type="text/javascript">
    showBusyIcon(true);
    function onCvLoad() {
      updateStatus('opencv','is loaded (sync).');
      cv.onRuntimeInitialized = onCvReady;
    }
    function onCvReady() {
      updateStatus('opencv','is ready.');
      autoAdjustElemsWidth();
      initCamera();
    }
  </script>
  <script async src="../static/js/opencv.js" type="text/javascript" onload="onCvLoad();"></script>
  
</body>
</html>