

/* contain overscroll behaviour only in vertical direction */
body {
  overscroll-behavior-y: contain;
}

/* * { padding: 0; margin: 0; } */

html, body {
  background-color: #090909;
  flex-direction: column;  
  display: flex;
  height: 100%; 
  /* max-width: 100vw; */
  /* background-color: #1f0000; */
  /* width: 90vw; */
  /* width: 100vw; */
  /* width: 90vw; */
  /* color: red; */
  /* border: solid; */
  /* border-width: 1px; */
}

header, section, footer {
  background-color: #1F1F1F;
  color: cornsilk;
  vertical-align: middle;
  max-width : 100vw;
  width: 100%;
  /* 以下為 DEBUG 使用 */
  /* width: 90%; */
  /* border: solid; */
  /* border-width: 1px; */
}

span.header-icons {
  /* display: inline;  */
  display: inline-block; /* 可調 y方向 margin */
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 3px;
  padding-right: 5px;
  padding-bottom: 8px;
}

header {
  z-index: 999;
  position: fixed;
  /* max-width: 100vw;
  width: 100vw; */
  border: none;
}

footer {
  z-index: 999;
}

select, button, input {
  margin-left: 1px;
  margin-right: 0px;
  margin-bottom: 10px;
}

/* 按鈕 (& form) 區塊 */
#section-1 {
  /* position: fixed; */
  margin-top: 80px;
  /* padding-top: 98px; */
  padding-top: 12px;
  padding-bottom: 10px;
  /* padding-left: 32px; */
  /* border-style: solid; */
  /* border-width: 3px; */
  /* background-color: darkcyan; */
}

/* 影像顯示區 */
#section-2 {
  /* margin-top: 100px; */
  padding: 5px;
  /* DEBUG */
  /* background-color: red; */
  /* border-style: solid; */
  /* border-width: 1px; */
}

.ez-overlap-container {
  /* position 必須設定 relative     */
  /* 才能讓 .ez-overlap 的 elements */
  /* 以 absolution 方式對齊         */
  position: relative;
  margin: 0px;
  padding: 0px;
  /* DEBUG */
  /* background-color: green; */
}

.ez-overlap {
  /* position 必須設定 absolute         */
  /* 才能讓 .overlap 的 elements        */
  /* 疊在 .ez-overlap-video-bkgnd 上面. */
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0;
  /* width and height */
  width: 100%;
  height: auto;
  /* padding and border */
  margin: 0px;
  padding: 0px;
  border: solid;
  border-width: 1px;
}

video.ez-overlap {
  /* 指定 position: static 並放在 container 第一個 child node */
  /* 以 video stream 內容, 自動撐開 width, height */
  position: static;
  display: block;
  /* max-width: 100vw; */
  /* width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: solid;
  border-width: 1px; */
}

#anchorBox-1.ez-overlap, 
#anchorBox-2.ez-overlap {
  /* position: absolute; */
  top: 5px;         /* js 程式控制 */
  left: 5px;        /* js 程式控制 */
  width: 100px;     /* js 程式控制 */
  height: 100px;    /* js 程式控制 */
  border: solid;
  border-width: 3px;
  border-color: lime;
  background-color: transparent;
}

#bigWaitIcon {
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0;
  margin: auto; 
  width: 100px;  /* Need a specific value to work with auto margin */
  height: 100px; /* Need a specific value to work with auto margin */
  border: none;
}


/* 此為填補空白使用 */
#section-3 {
  flex-grow: 1;
  padding-bottom: 50px;
  /* DEBUG */
  /* border-style: inset; */
  /* border-width: 3px; */
  /* background-color: #1F5F1F; */
}


#status-id {
  margin: 5px;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
}



